{% extends 'layout.html' %}
{% block body %}



<form action="/test" method="POST">
    {% if questions %}
    {{ question }} <br>
    {% for i in questions %}

    
    <input type="radio" name="answer" value="{{ questions[i] }}">
    {{ questions[i] }}
    <label for="answer">{{ i }}</label><br>

    {% endfor %}
    <input type="submit" name="submit" value="Submit">
    {% endif %}
    {% if not questions %}
        <input type="submit" name="submit" value="Start quiz">
    {% endif %}
</form>



{% endblock %}