{% extends "layout.html" %}

{% block page_title %}
    Mentors list
{% endblock %}

{% block content %}
    <div>
        <form action="/mentors">
            <label for="name-input">Filter by mentor last name:</label>
            <input id="name-input" type="text" name="mentor-last-name">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="mentors">
        <div class="mentors2">
            Mentors
        </div>
        <form action="/mentors">
            <label for='city-name'>Filter by city: </label>
            <select name='city-name' id='city-name'>
                <option values='Miskolc'>Miskolc</option>
                <option values='Budapest'>Budapest</option>
                <option values='Bucharest'>Bucharest</option>
                <option values='Kraków'>Kraków</option>
                <option values='Warsaw'>Warsaw</option>                
            </select>
            <button type="submit">Select city</button>
        </form>
    </div>

    <div id="mentors">
        {% for mentor in mentors %}
            {{ mentor.first_name + " " + mentor.last_name }} - {{ mentor.city }}<br>
        {% endfor %}
    </div>
{% endblock %}
